<% if !signed_in? %>
	<div>
		<h1>Welcome to Rumr</h1>
		<p>If they're talking about it, you'll hear about it.</p>
		<%= link_to "Sign up!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</div>
<% else %>
	<div class="row">
		<aside class="span6">
			<h1>Welcome to Rumr</h1>
		</aside>
		<aside class="span6">
			<h3>Browse rumors in: </h3>
			<div id="tag_cloud">
				<% tag_cloud Bubble.tag_counts, %w[s m l] do |tag, css_class| %>
					<%= link_to tag.name, tag_path(tag.name), class: css_class %>
				<% end %>
			</div>
		</aside>
	</div>
	<div class="row">
		<aside class="span4">
			<h3>Post a new Rumr</h3>
			<%= render 'rumors/form' %>
		</aside>
		<aside class="span8">
			<h3>Your bubbles' latest rumrs</h3>
			<ul>
				<% [1,2,3,4,5,6,7,8,9,10].each do |n| %>
						<li><%= link_to "Bubble #{n}", '#' %></li>
				<% end %>
			</ul>
		</aside>
	</div>
<% end %>