<% if !signed_in? %>
	<div class="center hero-unit">
		<h1>Welcome to Rumr</h1>
		<h3>If they're talking about it, you'll hear about it.</h3>
		<%= link_to "Sign up!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>
	<%= render 'shared/signed-in-home' %>
<% end %>