<footer>
	<small>
		Rumr, a project by <a href="http://www.mikaeltheimer.com">Mikaël Theimer (Mkl)</a>.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>